fastapi
uvicorn
python-multipart
PyPDF2
python-docx
rapidfuzz
pydantic
openai
jinja2
fpdf2
langdetect
sqlalchemy
sentence-transformers
scikit-learn
pytesseract
Pillow
pdf2image
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
beautifulsoup4
requests
